@tailwind base;
@tailwind components;
@tailwind utilities;

/* Poppins font - apply this class to overide Playfair on an element*/
.body-poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}

/* Smooth scrolling to sections*/
html {scroll-behavior: smooth;}

/* Background changed to snow instead of white*/
body {background-color: #fffafa;}